<section class="error-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="error-content">
          <img src="img/seagull.gif" alt="" width="160px"> 
          <h1 class="error-code">404</h1>
          <h2 class="error-title" >Page Not Found</h2>
          <p class="error-description">
            The page you are looking for could not be found.
          </p>
          <a href="/" class="btn btn-secondary">Home</a>
        </div>
      </div>
    </div>
  </div>
</section>