<!-- Include the header partial -->
<%- include('partials/header.ejs') %>

<body class="about-body">
  <section class="about-section">
    <section class="hero-content">
      <div class="container">
        <div
          class="row align-items-center justify-content-center fade-in-right"
        >
          <div class="col-lg-7">
            <div class="p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3">
              <div class="col-lg-12 p-3 p-lg-5 pt-lg-3">
                <h1
                  class="display-4 fw-bold lh-1 text-body-emphasis"
                  style="margin-bottom: 50px"
                >
                  Welcome to Our Blog
                </h1>
                <p class="lead fade-in-right">
                  Embark on a journey with us where words come alive and
                  narratives unfold. From profound reflections to captivating
                  stories, we curate a collection of thought-provoking content
                  that resonates with passion, curiosity, and creativity.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- facts -->
    <section
      class="about-history"
      style="font-family: Playfair Display, serif; margin-bottom: 150px"
    >
      <div class="container">
        <div class="row align-items-center featurette">
          <div class="col-md-7">
            <div class="text-center text-md-start">
              <h2
                class="featurette-heading fw-normal lh-1 fade-in-right"
                style="
                  margin-bottom: 50px;
                  text-align: center;
                  margin-bottom: 100px;
                "
              >
                The Journey of Our Blog
              </h2>
              <p class="lead">
                In today's fast-paced digital world, effective communication is
                essential. At our blog, we understand the importance of engaging
                with our audience in meaningful ways. That's why we've
                introduced Emoji Responses - a cutting-edge feature designed to
                revolutionize how our readers interact with our content. With
                Emoji Responses, expressing thoughts and emotions is as easy as
                a click. From joyful emojis to thoughtful reactions, our readers
                can effortlessly engage with our articles, leaving behind
                traditional comments for a more dynamic and expressive form of
                communication. Join us on this journey as we redefine the way
                stories are shared and connections are made.
              </p>
            </div>
          </div>
          <div class="col-md-5">
            <img
              src="img/tree.jpg"
              alt="Blog Journey"
              class="img-fluid rounded"
            />
          </div>
        </div>
      </div>
    </section>
  </section>
</body>
<!-- Include the footer partial -->
<%- include('partials/footer.ejs') %>
