<!-- Include the header partial -->
<%- include('partials/header.ejs') %>
<!-- Updated link to LineIcons CSS -->

<!-- Updated link to LineIcons CSS -->

<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="container">
    <div class="row align-items-stretch">
      <!-- Basic Plan -->
      <div class="col-md-4">
        <div class="card shadow-sm mb-4 h-100 d-flex flex-column text-black">
          <div class="card-header text-center bg-transparent border-0">
            <h6 class="mb-3 font-weight-bold mt-4">BASIC</h6>
            <div
              class="d-flex align-items-baseline justify-content-center mb-3"
            >
              <h3 class="display-4 font-weight-bold">$199</h3>
              &nbsp;
              <p class="text-muted lead small">/ month</p>
            </div>
            <div class="bg-pink mm"></div>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <!-- List of features -->
              <li class="list-group-item">
                <i
                  class="lni lni-checkmark mr-3 text-pink font-weight-bold"
                ></i>
                Clean and easy to use app
              </li>
              <li class="list-group-item">
                <i
                  class="lni lni-checkmark mr-3 text-pink font-weight-bold"
                ></i>
                Simple widget generator
              </li>
              <li class="list-group-item">
                <i
                  class="lni lni-close mr-3 text-secondary font-weight-bold"
                ></i>
                <s>Lorem ipsum dolor</s>
              </li>
              <!-- Add more features here -->
            </ul>
          </div>
          <div class="card-footer py-5 text-center bg-transparent border-0">
            <a href="#" class="btn btn-secondary btn-lg rounded-pill shadow-lg"
              >Subscribe</a
            >
          </div>
        </div>
      </div>

      <!-- Pro Plan -->
      <div class="col-md-4">
        <div class="card shadow-sm mb-4 h-100 d-flex flex-column text-black">
          <div class="card-header text-center bg-transparent border-0">
            <h6 class="mb-3 font-weight-bold mt-4">PRO</h6>
            <div
              class="d-flex align-items-baseline justify-content-center mb-3"
            >
              <h3 class="display-4 font-weight-bold">$399</h3>
              &nbsp;
              <p class="text-muted lead small">/ month</p>
            </div>
            <div class="bg-pink mm"></div>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <!-- List of features -->
              <li class="list-group-item">
                <i
                  class="lni lni-checkmark mr-3 text-pink font-weight-bold"
                ></i>
                Clean and easy to use app
              </li>
              <li class="list-group-item">
                <i
                  class="lni lni-checkmark mr-3 text-pink font-weight-bold"
                ></i>
                Simple widget generator
              </li>
              <!-- Add more features here -->
            </ul>
          </div>
          <div class="card-footer py-5 text-center bg-transparent border-0">
            <a href="#" class="btn btn-secondary btn-lg rounded-pill shadow-lg"
              >Subscribe</a
            >
          </div>
        </div>
      </div>

      <!-- Enterprise Plan -->
      <div class="col-md-4">
        <div class="card shadow-sm mb-4 h-100 d-flex flex-column text-black">
          <div class="card-header text-center bg-transparent border-0">
            <h6 class="mb-3 font-weight-bold mt-4">ENTERPRISE</h6>
            <div
              class="d-flex align-items-baseline justify-content-center mb-3"
            >
              <h3 class="display-4 font-weight-bold">$899</h3>
              &nbsp;
              <p class="text-muted lead small">/ month</p>
            </div>
            <div class="bg-pink mm"></div>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <!-- List of features -->
              <li class="list-group-item">
                <i
                  class="lni lni-checkmark mr-3 text-pink font-weight-bold"
                ></i>
                Clean and easy to use app
              </li>
              <li class="list-group-item">
                <i
                  class="lni lni-checkmark mr-3 text-pink font-weight-bold"
                ></i>
                Simple widget generator
              </li>
              <!-- Add more features here -->
            </ul>
          </div>
          <div class="card-footer py-5 text-center bg-transparent border-0">
            <a href="#" class="btn btn-secondary btn-lg rounded-pill shadow-lg"
              >Subscribe</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Include the footer partial -->
<%- include('partials/footer.ejs') %>
